* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cor-principal: #3a68b7;
  --display_after_body: none;
}

html {
  background-color: var(--cor-principal);
}

body {
  height: 100dvh;
  width: 100rvw;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.formulario {
  background-color: #fff;
  max-width: 60%;
  min-width: 40%;
  box-shadow: -0.5rem 0 rgba(0, 0, 0, 0.5);
  position: relative;
}

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: none;
}

.legenda {
  font-size: 2rem;
  padding-top: 2rem;
  color: var(--cor-principal);
}

.label {
  padding-bottom: 1.2rem;
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.label-usuario {
  padding-bottom: 0.5rem;
  padding-top: 0rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.input {
  font-size: 1.5rem;
  padding: 0.3rem 0 0.3rem 0;
  border: none;
  border-bottom: 0.1rem solid black;
  transition-property: padding;
  transition-duration: 180ms;
  transition-timing-function: cubic-bezier(0.23, 0.33, 0.9, 0.39);
}

.input:focus {
  padding-left: 0.5rem;
  outline: none;
}

.input:focus:valid {
  border-bottom: 0.15rem solid rgb(0, 254, 0);
}

.input:focus:invalid {
  border-bottom: 0.15rem solid red;
}

.footer-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
  gap: 1rem;
}

.footer-form button {
  padding: 0.6rem;
  padding-inline: 1.5rem;
  font-size: 1rem;
  background-color: var(--cor-principal);
  color: #fff;
  text-transform: uppercase;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
}

.footer-form .faca-loguin {
  font-size: 1rem;
}

.footer-form .faca-loguin a {
  color: black;
}

dialog {
  border: none;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 40%;
  left: 30%;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  z-index: 2;
}

#fechar-dialog {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#fechar-dialog:hover {
  background-color: #c0392b;
}

body::after {
  content: "";
  display: var(--display_after_body);
  width: 100dvw;
  height: 100dvh;
  background-color: gray;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.2;
}
